@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
}
/*      Header       */
.container-header{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.container-header h1{
    font-weight: bold;
    font-size: 30px;
}
.dark-mode{
    box-shadow: none;
    border: none;
    transition: 0.2s;
}
.dark-mode:hover{
    cursor:pointer;
    scale: 1.03;
    border-radius: 7px;
}
.dark-mode img{
    width: 18px;
    position: relative;
    top: 2px;
}
.dark-mode span{
    font-size: 18px;
}
/*      Seção um       */

/* Pesquisa */
.section-one{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.pesquisar .lupa{
    position: relative;
    width: 22px;
    top: 17px;
    left:22px;
    z-index: 1;
}
.pesquisar .lupa:hover{
    cursor: pointer;
}
.pesquisar input{
    position: relative;
    left: -25px;
    padding: 20px 200px 20px 60px;
    border: none ;
    border-radius: 5px;
    font-size: 16px;
    vertical-align: top;
    outline: 0;
}
/* Filtro */
.filtrar button{
    position: relative;
    right: -20px;
    padding: 20px 80px 20px 30px;
    border: none ;
    border-radius: 5px;
    font-size: 16px;
    vertical-align: top;
}
.filtrar button:hover{
    cursor: pointer;
}
.filtrar img{
    position: relative;
    width: 15px;
    top: 22px;
    right: 25px;
}

/*      Seção dois       */

.section-two{
    margin: 0 auto;
    width: 90%;
    background-color: red;
    height: 100vh;
}
    